:root{
    
--Orange: hsl(25, 97%, 53%);


--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}
.container{
    width: 360px;
    padding: 2rem;
    background:linear-gradient(to bottom  ,var(--Dark-Blue), var(--Very-Dark-Blue));
    border-radius: 20px;
    
}
.star{
    display: flex;
    padding: 10px;
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    width: 40px;
}
h1{
    color: var(--White);
    margin: 10px 0;
}
p{

    color: var(--Light-Grey);
}
.rates{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}